<h1>Nuevo hospital</h1>

<form method="post">
    <label>Id hospital: </label>
    <input class="form-control" name="idHospital" type="text" /><br />
    <label>Nombre: </label>
    <input class="form-control" name="nombre" type="text" /><br />
    <label>Direccion: </label>
    <input class="form-control" name="direccion" type="text" /><br />
    <label>Telefono: </label>
    <input class="form-control" name="telefono" type="text" /><br />
    <label>Nº de camas: </label>
    <input class="form-control" name="camas" type="text" /><br />
    <button class="btn btn-primary">Insertar</button>
</form>